version: '3.8'
services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - product-service
      - order-service
      - payment-service
      - analytics-service
      - admin-service

  auth-service:
    build: ./services/auth-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3000
    ports:
      - "3000:3000"

  product-service:
    build: ./services/product-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3001
    ports:
      - "3001:3001"

  order-service:
    build: ./services/order-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3002
    ports:
      - "3002:3002"

  payment-service:
    build: ./services/payment-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3003
    ports:
      - "3003:3003"

  analytics-service:
    build: ./services/analytics-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3004
    ports:
      - "3004:3004"

  admin-service:
    build: ./services/admin-service
    environment:
      - MONOLITH_URL=http://host.docker.internal:5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3005
    ports:
      - "3005:3005"

  notification-service:
    build: ./services/notification-service
    environment:
      - PORT=3010
    ports:
      - "3010:3010"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:latest
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
